doctype html
html
head
title APaloJS Samples
body
 h2 This is a demonstration of Node.JS access to a Jedox/Palo database
 p
 | Choose a sample report:
 p
 a(href='/bikersbestsample.html') BikersBest Sample Report (public demo)
